.eventapp {
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

.eventapp h1 {
  position: absolute;
  top: -135px;
  width: 100%;
  font-size: 70px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

section.form{
  text-align: center;
}

section.main{
  margin: 25px;
}

footer{
  margin: 15px 25px;
}

/* Event list */
.event-list li{
  padding: 5px 0;
}

.view a{
  font-size: 13px;
  margin-left: 15px;
}

/* Form elements */
input.event-title{
  width: 400px;
  padding: 7px;
}

input.event-date{
  padding: 4.5px;
  margin-left: 5px;
  color: gray;
}

.button {
  margin-left: 5px;
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 7px 18px;
}

.button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
}

.button:disabled,
.button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
