<article id="event">
  <h2>Editing Event</h2>

  <form #f="ngForm" (ngSubmit)="updateEvent(f)">
    <fieldset>
      <div class="form-element">
        <label for="type">Type:</label>
        <input type="text" name="type" id="type" [ngModel]="event.type" />
      </div>
      <div class="form-element">
        <label for="datepicker">Date:</label>
          <input type="text" id="datepicker" name="date" #datePicker required
                 (blur)="f.value.date = datePicker.value"
                 [ngModel]="event.date | date:'d MMMM yyyy'">
      </div>
      <div class="form-element">
        <label for="title">Title:</label>
        <textarea name="title" id="title" [ngModel]="event.title"></textarea>
      </div>
      <div class="form-element">
        <label for="speaker">Speaker:</label>
        <input type="text" name="speaker" id="speaker" [ngModel]="event.speaker">
      </div>
      <div class="form-element">
        <label for="host">Host:</label>
        <input type="text" name="host" id="host" [ngModel]="event.host">
      </div>
    </fieldset>

    <fieldset class="actions">
      <input type="submit" value="Update Event">
      <a routerLink="/events" class="cancel">Cancel</a>
    </fieldset>
  </form>
</article>
