<article id="lead">
  <h2>Editing Event</h2>

  <form #f="ngForm" (ngSubmit)="updateEvent(f)">
    <fieldset>
      <dl>
        <dt><label>Type:</label></dt>
        <dd><input type="text" name="type" required [ngModel]="event.type"></dd>
      </dl>
      <dl>
        <dt><label>Date:</label></dt>
        <dd><input type="date" name="date" required [ngModel]="event.date"></dd>
      </dl>
      <dl class="textArea">
        <dt><label>Title:</label></dt>
        <dd><textarea name="title" required [ngModel]="event.title"></textarea></dd>
      </dl>
      <dl>
        <dt><label>Speaker:</label></dt>
        <dd><input type="text" name="speaker" required [ngModel]="event.speaker"></dd>
      </dl>
      <dl>
        <dt><label>Host:</label></dt>
        <dd><input type="text" name="host" required [ngModel]="event.host"></dd>
      </dl>
      </fieldset>

      <fieldset class="actions">
        <input type="submit" value="Update Event">
        <a routerLink="/events" class="cancel">Cancel</a>
      </fieldset>
    </form>
  </article>
